body {
  font-family: font-family: 'Girassol', cursive;
  color: #fff;
  background-image: url(/assets/retrobackground.jpg);
  
}
.wrapper {
  margin: 0 auto;
  max-width: 980px;
}
h1 {
  font-size: 100px;
  text-align: center;
}
h2 {
  font-size: 50px;
  text-align: center;
}