body {
  font-family: font-family: 'Girassol', cursive;
  color: #fff;
  background-image: url(/assets/retrobackground.jpg);
  }
.wrapper {
  margin: 0 auto;
  max-width: 980px;
}
h1 {
  font-size: 100px;
  text-align: center;
}
.nav-link {
  position: relative;
  font-size: 50px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}